body {
  background: #f3f2ef;
}

h1 {
    margin: 5px 0;
}
#header-wraper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header-info {
    flex: 1;
    padding: 10px;
}
#my-picture {
    padding: 5px;
    width: 108px;
    height: 108px;
}
#my-picture img {
    border-radius: 50%;
    border: 4px solid #fff;
}
#job-title {
    color: #334455;
    margin: 5px 0;
    font-weight: bold;
    font-size: 1.2em;
}

#top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
  margin: 0;
  padding: 0;
}
#top-menu-bar li {
  display: inline;
  margin: 0;
  padding: 0;
}
#top-menu-bar a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  margin: 2px 0;
  border-radius: .2em;
  color: #fff;
  border: 1px solid transparent;
  transition: .5s;
}
#top-menu-bar a:visited {
  color: #fff;
}
#top-menu-bar a:hover,
#top-menu-bar a.active {
  color: #334455;
  background: #fff;
}

.page {
  background: white;
  border: 1px solid #e0dfdc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  display: none;
}
.page h3 {
  margin: 0 0 5px 0;
}
.page ul {
  padding-left: 20px;
  margin: 0 0 5px 0;
}

.favorit {
  color: cadetblue;
  font-weight: bold;
  font-style: italic;
}

#skills li span {
  font-weight: normal;
  color: white;
  font-style: normal;
  font-size: 0.8em;
  background-color: gray;
  border-radius: 4px;
  display: inline-block;
  padding: 1px 5px;
  min-width: 15px;
  text-align: center;
}

td {
  padding: 3px 10px;
  color: darkblue;
}

footer {
  min-height: 20px;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: #f5f5f5;
}
footer a {
  color: #f5f5f5;
}