/* header, footer, #side-menu section {
    margin: 2px;
    padding: 4px;
    border: 2px solid blue;
}
#content {
    margin: 2px;
    padding: 4px;
    border: 2px solid red;
}
#side-menu, #main {
    margin: 2px;
    padding: 4px;
    border: 2px solid green;
} */

html {
    height: 100%;
}
body {
    min-height: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}
header {
    flex: 1;
}
header > div {
    padding: 5px;
}
#content {
    flex: 4;
    display: flex;
    flex-direction: row;
}
#side-menu {
    flex: 1;
    padding: 5px;
}
#main {
    flex: 4;
}

footer {
    /* flex: 1; */
    min-height: 20px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: #f5f5f5;
}
footer a {
    color: #f5f5f5;
}


body {
    background-color: #f5f5f5;
    margin: 0;
}

#job-title {
    color: blue;
    text-align: right;
}

#top-menu-bar {
    text-align: center;
    background-color: #334455;
    color: #fff;
}
#top-menu-bar li {
    display: inline;
    margin: 0;
    padding: 0;
}
#top-menu-bar a {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    margin: 2px 0;
    color: #fff;
    display: inline-block;
}
#top-menu-bar a:visited {
    color: #fff;
}
#top-menu-bar a:hover {
    color: #334455;
    background-color: #fff;
}

.page {
    background-color: #ffffff;
    margin: 16px 0;
    padding: 24px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 2px;
}

li {
    color: blue; 
}

.favorite {
    background-color: yellowgreen; 
    font-style: italic;
    color: blueviolet;
}