html {
  height: 100%;
}
body {
  background: #f5f5f5;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, rgba(7, 152, 171, 0.6), transparent);
}
#header-wrapper h1 {
  margin: 5px 0;
}
#header-wrapper h2 {
  margin: 5px 0;
}
#header-info {
  flex: 1;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#side-menu {
  flex: 1;
  padding: 10px 5px 5px 10px;
}

#side-menu > section {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
  border-radius: 2px;
}
#side-menu > section h2 {
  margin: 0 0 10px 0;
}

#skills li span {
  color: green;
}

#main {
  flex: 2;
  padding: 10px 10px 10px 5px;
}

footer {
  padding: 10px 10px 8px 10px;
  text-align: center;
  background-color: #057988;
  color: #f5f5f5;
}
footer a {
  color: #f5f5f5;
}

#my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}
#my-picture img {
  border-radius: 50%;
  border: 4px solid #fff;
}

#job-title {
  color: blue;
  text-align: right;
}

.page {
  display: none;
  padding: 24px;
  background: #fff;
  margin-bottom: 10px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
  border-radius: 2px;
}
.page h2 {
  margin: 0;
}

.favorite {
  color: #f00;
  font-weight: bold;
}

#top-menu-bar {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #0798ab;
  color: #fff;
}
#top-menu-bar li {
  display: inline;
  padding: 0;
  margin: 0;
}
#top-menu-bar a {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  margin: 4px 0;
  color: #fff;
  display: inline-block;
  border-radius: 0.2em;
  transition: 0.5s;
}
#top-menu-bar a:visited {
  color: #fff;
}
#top-menu-bar a:hover,
#top-menu-bar a.active {
  background-color: #057988;
  color: #fff;
}

.rubik-face {
  background-color: #0d0d0d;
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 200px;
  padding: 4px;
  grid-gap: 4px;
}
.rubik-face > div {
  border: 1px solid #0d0d0d33;
  padding-top: 100%;
  background-color: white;
  border-radius: 0.2em;
}
