body {
  padding: 0;
  margin: 0;
}
header {
  background-color: #2d2f31;
  color: #fff;
  padding: 30px;
}
#main {
  padding: 30px;
}

#main li {
  margin: 10px 0;
}
#main a {
  color: #b32d0f;
  font-weight: bold;
  text-decoration: none;
}
