:root {
  --max-width: 1200px;
}

html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #2d2f31;
}
#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

header a {
  color: #c0c4fc;
}

header .top-container {
  color: #fff;
  padding: 30px;
  flex: 1;
}
header .top-container h1 {
  margin: 0;
  font-size: 2.4rem;
}
header .top-container h2 {
  font-size: 1.4rem;
  font-weight: normal;
}
header .top-container p {
  margin: 0;
  font-size: 0.9em;
}

.sidebar-container {
  padding: 1px;
  width: 415px;
}
.sidebar-container img {
  border: 1px solid #d1d7dc;
  box-sizing: border-box;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.08);
}

header .top-container .dark-background-inner-text-container {
  max-width: 60rem;
  margin-left: 4.8rem;
  margin-right: 4.8rem;
}

#main {
  box-sizing: border-box;
  padding: 30px;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.btn {
  text-decoration: none;
  color: #8710d8;
  padding: 2px 4px;
  display: inline-block;
}
.btn:hover {
  background-color: #8710d8;
  color: #fff;
}

#coupons h2 {
  margin-top: 0;
}
#coupons ul {
  padding: 0;
  overflow: hidden;
}
#coupons ul:after {
  clear: both;
  content: "";
  display: block;
}
#coupons li {
  margin: 0;
  list-style: none;
  float: left;
  min-height: 50px;
}
#coupons li a {
  color: #b32d0f;
  background-color: #f0f0f0;
  text-decoration: none;
  display: inline-block;
  padding: 10px 8px;
  margin: 3px;
  border-radius: 0.2em;
  transition: 0.5s;
  font-size: 0.95em;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.15),
    0 2px 3px rgba(0, 0, 0, 0.2);
}
#coupons .coupon-code {
  font-weight: bold;
}
#coupons .coupon-info {
  font-size: 0.9em;
  text-align: right;
  padding-top: 4px;
}

#coupons li.first-expired {
  clear: both;
}
#coupons .expired a {
  padding: 8px 8px;
}
#coupons .expired .coupon-code {
  font-weight: normal;
  font-size: 0.9em;
}
#coupons .expired .coupon-info {
  display: none;
}

#coupons ul li a:hover {
  background-color: #8710d8;
  color: #fff;
}
#coupons ul li.best-discount a {
  background-color: #a435f0;
  color: #fff;
}

/* https://web.dev/articles/css-border-animations */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

#coupons ul li.best-discount a {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
#coupons ul li.best-discount a::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  z-index: -2;
  left: calc(-100vh / 2 + 100% / 2);
  top: calc(-100vh / 2 + 100% / 2);
  width: 100vh;
  height: 100vh;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size:
    50% 50%,
    50% 50%;
  background-position:
    0 0,
    100% 0,
    100% 100%,
    0 100%;
  background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300),
    linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  animation: rotate 4s linear infinite;
}

#coupons ul li.best-discount a::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  z-index: -1;
  left: 4px;
  top: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: #a435f0;
  /* border-radius: 5px; */
  /* animation: opacityChange 3s infinite alternate; */
}
#coupons ul li.best-discount a:hover::after {
  background-color: #8710d8;
}

#redirect-info span {
  color: #a435f0;
  font-weight: bold;
}

#what-you-will-learn {
  border: 1px solid #d1d7dc;
}
#what-you-will-learn h2 {
  margin: 1.5rem 1.5rem 1em 1.5rem;
}
#what-you-will-learn ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding: 0;
}

#what-you-will-learn ul li {
  width: calc(50% - (2.4rem / 2));
  padding: 5px;
}

footer {
  padding: 10px 10px 8px 10px;
  background-color: #2d2f31;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}
footer .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
footer a {
  color: #f5f5f5;
  padding: 2px 5px;
  border-radius: 0.2em;
  transition: 0.5s;
}
footer a:hover {
  text-decoration: none;
  background-color: #0798ab;
}

@media (max-width: 800px) {
  body {
    font-size: 1em;
  }
  #header-wrapper {
    flex-direction: column-reverse;
  }
  header .top-container h1 {
    margin: 0;
    font-size: 1.6rem;
  }
  header .top-container h2 {
    font-size: 1.2rem;
    font-weight: normal;
  }
  .sidebar-container {
    flex: 1;
    width: auto;
    overflow: hidden;
  }
  header img {
    width: 100%;
    margin-top: -10%;
    margin-bottom: -10%;
  }

  header .top-container {
    padding: 20px;
  }

  #main {
    padding: 20px;
  }
}
