html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh;
}
header {
  background-color: #2d2f31;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header a {
  color: #c0c4fc;
}

header .top-container {
  color: #fff;
  padding: 30px;
  flex: 1;
}
header .top-container h1 {
  margin: 0;
  font-size: 2.4rem;
}
header .top-container h2 {
  font-size: 1.5rem;
}
header .top-container p {
  margin: 0;
}

.sidebar-container {
  padding: 1px;
  width: 330px;
}
.sidebar-container img {
  border: 1px solid #d1d7dc;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

header .top-container .dark-background-inner-text-container {
  max-width: 60rem;
  margin-left: 4.8rem;
  margin-right: 4.8rem;
}

#main {
  padding: 30px;
}

#coupons h2 {
  margin-top: 0;
}
#coupons ul {
  padding: 0;
}
#coupons li {
  margin: 0;
  display: inline-block;
}
#coupons a {
  color: #b32d0f;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #2d2f31;
  padding: 10px;
  margin: 2px;
  border-radius: 0.2em;
  transition: 0.5s;
}
#coupons ul li a:hover {
  background-color: #8710d8 !important;
  color: #fff;
}
#coupons ul li:first-of-type a {
  background-color: #a435f0;
  color: #fff;
}

#redirect-info span {
  color: #a435f0;
  font-weight: bold;
}

#what-you-will-learn {
  border: 1px solid #d1d7dc;
}
#what-you-will-learn h2 {
  margin: 1.5rem 1.5rem 1em 1.5rem;
}
#what-you-will-learn ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding: 0;
}

#what-you-will-learn ul li {
  width: calc(50% - (2.4rem / 2));
  padding: 5px;
}

footer {
  padding: 5px;
  background-color: #2d2f31;
  text-align: center;
}
footer a {
  color: #fff;
}

@media (max-width: 800px) {
  header {
    flex-direction: column-reverse;
  }
  header .top-container h1 {
    margin: 0;
    font-size: 1.6rem;
  }
  header .top-container h2 {
    font-size: 1.2rem;
    font-weight: normal;
  }
  .sidebar-container {
    flex: 1;
    width: auto;
    overflow: hidden;
  }
  header img {
    width: 100%;
    margin-top: -10%;
    margin-bottom: -10%;
  }

  header .top-container {
    padding: 20px;
  }

  #main {
    padding: 20px;
  }
}
